<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <style>
        .filter {
            overflow: hidden;
            width: 100%
        }
        .filter-element {
            float: left;
            width: 25%;
        }
    </style>
</head>

<body>

<div class="container">
    <div class="filter">
        <div class="filter-element">
            <h4>Author</h4>
            <button id="create-author" onclick="create_author_dialog.showModal()">+</button>
            <select id="author" onchange="updateBooks()">
                <option value="" selected="selected">All</option>
                <option th:each="author : ${authors}" th:value="${author.getId()}" th:text="${author.getName()}"></option>
            </select>
        </div>
        <div class="filter-element">
            <h4>Genre</h4>
            <button id="create-genre" onclick="create_genre_dialog.showModal()">+</button>
            <select id="genre" onchange="updateBooks()">
                <option value="" selected="selected">All</option>
                <option th:each="genre : ${genres}" th:value="${genre.getId()}" th:text="${genre.getName()}"></option>
            </select>

        </div>

    </div>

    <div class="container">
        <h1>Books</h1>
        <button id="create-book" onclick="create_book_dialog.showModal()">+</button>
        <table id="books" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Authors</th>
                <th>Genres</th>
                <th>Description</th>
                <th>Price</th>
                <th>Control</th>
            </tr>
            </thead>
        </table>
    </div>

    <dialog id="edit_book_dialog" class="site-dialog">
        <form method="post" action="#" th:action="@{/admin/books/save}" th:object="${book}">
        <header class="dialog-header">
            <h3>Edit book</h3>
        </header>
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Genres</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <input id="edit-book-id" type="hidden" th:field="*{id}"/>
                        <div id="edit-book-id-text">
                        </div>
                    </th>
                    <th>
                        <input id="edit-book-title" type="text" th:field="*{title}"/>
                    </th>
                    <th id="edit-book-authors">
                        <th:block th:each="author : ${authors}" th:field="*{authors}">
                            <input name="authors" type="checkbox" th:value="${author.id}" th:text="${author.name}"/>
                            <br/>
                        </th:block>
                    </th>
                    <th id="edit-book-genres">
                        <th:block th:each="genre : ${genres}" th:field="*{genres}">
                            <input name="genres" type="checkbox" th:value="${genre.id}" th:text="${genre.name}"/>
                            <br/>
                        </th:block>
                    </th>
                    <th>
                        <input id="edit-book-description" type="text" th:field="*{description}"/>
                    </th>
                    <th>
                        <input id="edit-book-price" type="number" min="0" value="0" step=".01" th:field="*{price}"/>
                    </th>
                </tr>
    
                </tbody>
            </table>

            <div class="btn-group cf">
                <button type="submit">Submit</button>
                <button type="reset" onclick="edit_book_dialog.close()">Cancel</button>
            </div>
        </form>
    </dialog>

    <dialog id="create_author_dialog" class="site-dialog">
        <form method="post" action="#" th:action="@{/admin/authors/create}" th:object="${author}">
            <header class="dialog-header">
                <h3>Create new author</h3>
            </header>

            <div class="dialog-content">
                <label for="create-author-name">Author's name</label>
                <input id="create-author-name" type="text" th:field="*{name}"/>
            </div>
            <div class="btn-group cf">
                <button id="create-author-submit" type="submit">Create</button>
                <button id="create-author-cancel" type="reset" onclick="create_author_dialog.close()">Cancel</button>
            </div>
        </form>
    </dialog>

    <dialog id="create_genre_dialog" title="Create new genre" class="site-dialog" >
        <form method="post" action="#" th:action="@{/admin/genres/create}" th:object="${genre}">
            <header class="dialog-header">
                <h4>Create new genre</h4>
            </header>

            <div class="dialog-content">
                <label for="create-genre-name">Genre name</label>
                <input id="create-genre-name" type="text" th:field="*{name}"/>
            </div>
            <div class="btn-group cf">
                <button id="create-genre-submit" type="submit">Create</button>
                <button id="create-genre-cancel" type="reset" onclick="create_genre_dialog.close()">Cancel</button>
            </div>
        </form>
    </dialog>

    <dialog id="create_book_dialog" class="site-dialog">

        <form method="post" action="#" th:action="@{/admin/books/save}" th:object="${book}">
            <header class="dialog-header">
                <h3>Create new book</h3>
            </header>

            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Genres</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <input type="text" th:field="*{title}"/>
                    </th>
                    <th>
                        <th:block th:each="author : ${authors}" th:field="*{authors}">
                            <input name="authors" type="checkbox" th:value="${author.id}" th:text="${author.name}"/>
                            <br/>
                        </th:block>
                    </th>
                    <th>
                        <th:block th:each="genre : ${genres}" th:field="*{genres}">
                            <input name="genres" type="checkbox" th:value="${genre.id}" th:text="${genre.name}"/>
                            <br/>
                        </th:block>
                    </th>
                    <th>
                        <input type="text" th:field="*{description}"/>
                    </th>
                    <th>
                        <input type="number" min="0" value="0" step=".01" th:field="*{price}"/>
                    </th>
                </tr>

                </tbody>
            </table>

            <div class="btn-group cf">
                <button type="submit">Create</button>
                <button type="reset" onclick="create_book_dialog.close()">Cancel</button>
            </div>
        </form>
    </dialog>

</div>
<script>
    //<![CDATA[

    $(document).ready(function() {
        updateBooks();
    });
    const updateBooks = function() {
        let data = {
            author: $('#author').val(),
            genre: $('#genre').val()
        };
        $.ajax({
            url: '/books/filtered',
            method: "POST",
            contentType: "application/json",
            dataSrc: 'items',
            data: JSON.stringify(data),
            success: function (data) {
                $('#books').DataTable({
                    data: data,
                    destroy: true,
                    columns: [
                        { data: 'id' },
                        { data: 'title' },
                        {
                            data: 'authors',
                            render: function (authors, type, full) {
                                return authors.map(author => author.name);
                            }
                        },
                        {
                            data: 'genres',
                            render: function (genres, type, full) {
                                return genres.map(genre => genre.name);
                            }
                        },
                        { data: 'description' },
                        { data: 'price' },
                        {
                            data: 'id',
                            render: function (id, type, full) {
                                return '<button class="edit" value='+"'" + JSON.stringify(full)+"'"+'>Edit</button>';
                            }
                        }
                    ]
                });
                $('.edit').on('click', function () {
                    let book = JSON.parse(this.value);
                    $('#edit-book-id-text').text(book.id);
                    $('#edit-book-id').val(book.id);
                    $('#edit-book-title').val(book.title);
                    $('#edit-book-description').val(book.description);
                    $('#edit-book-price').val(book.price);
                    $('#edit-book-authors').find('input').each(function (index, element) {
                        element.checked = book.authors.some(function (author) {
                            return element.value == author.id;
                        })
                    });
                    $('#edit-book-genres').find('input').each(function (index, element) {
                        element.checked = book.genres.some(function (genre) {
                            return element.value == genre.id;
                        })
                    });
                    $('#edit_book_dialog')[0].showModal();
                } );
            },
            error: function (response) {
                alert(response.responseJSON.message);
            }
        });
    };

    // ]]>
</script>
</body>
</html>